[Unit]
Description=Run Taskwarrior notifications every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=taskwarrior-notify.service

[Install]
WantedBy=default.target
